services:
  postgres:
    image: postgres:15-alpine
    container_name: wallet_postgres
    environment:
      POSTGRES_DB: wallet_dev
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - wallet-network

  redis:
    image: redis:7-alpine
    container_name: wallet_redis
    ports:
      - "6379:6379"
    networks:
      - wallet-network

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: wallet_zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    networks:
      - wallet-network

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: wallet_kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - wallet-network

  app:
    build: .
    container_name: digiwallet_app
    depends_on:
      postgres:
        condition: service_healthy
      kafka:
        condition: service_started
      redis:
        condition: service_started
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DB_HOST: postgres
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      REDIS_HOST: redis
    networks:
      - wallet-network

volumes:
  postgres_data:

networks:
  wallet-network:
    driver: bridge
